<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GameApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <!-- Add background styles to the head of the layout -->
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-align: center;
            color: #fff;
            margin: 0;
            padding: 0;
            background-image: url('images\game.jpg');
            background-size: cover;
            background-position: center;
            /* filter: blur(10px); /* Apply a blur effect */
        }

        header {
            background-color: #343a40;
            padding: 10px 0;
        }

            header .navbar-brand {
                color: #ffffff;
                font-size: 24px;
                font-weight: bold;
            }

            header .navbar-toggler-icon {
                color: #ffffff;
            }

            header .navbar-nav {
                text-align: center;
            }

            header .nav-item {
                margin: 0 10px;
            }

            header .nav-link {
                color: #ffffff;
                font-size: 18px;
                text-decoration: none;
                transition: color 0.3s;
            }

                header .nav-link:hover {
                    color: #007bff;
                }
/*
        footer {
            background-color: #343a40;
            color: #ffffff;
            padding: 2px 0; /* Adjust the padding here */
            text-align: center;
            height: 20px;
        }*/
    </style>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">GameApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("ConfigurationIndex", "Configuration")">Configuration</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

   
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>















    <footer class="border-top footer text-muted">
        <div class="container">
            <p>&copy; 2024 - GameApp</p>
            <p class="mt-2">
                <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-muted">Privacy Policy</a>
            </p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
