@{
    Layout = "_Layout"; 
}


@*@{
    ViewData["Title"] = "E-ben Gaming";
}*@

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />



@*<div class="overlay"></div>*@

<div class="container">
   
    <h1>Welcome to E-Ben Gaming</h1>
    <p>Experience the thrill of gaming at its best! Join us now and let the adventure begin.</p>
    <a href="/GamerRegistration/GamerIndex" class="register-button">Register Gamer</a>


</div>
